html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    /* Margin bottom by footer height */
  background-color: #c2e8fc !important;
  
  min-height: 100%;

  margin-bottom: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 6px !important;
  /*line-height: 4px !important; /* Vertically center the text there */
  /* background-color: #A9A9A9 !important; */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */







.alert {
    border: 1px solid #ccc;
    padding: 6px;
}
.alert-info {
    background-color: #d9edf7;
}
.alert-success {
    background-color: #dff0d8;
}
.alert-warning {
    background-color: #fcf8e3;
}


@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    } 
}

.container-small, .container-large {
    max-width: 100%;
}



.search {
border: 1px solid #ccc;
width:572px;
min-height: 30px;
padding: 4px 20px 4px 8px;
font-size: 18px;-moz-transition: all .2s linear; 
-webkit-transition: all .2s linear;transition: all .2s linear;
}
.search:hover { 
width: 572px;
border-color:#999999;
}       
.search:focus {
width: 572px;
border-color:#03F;
outline: none;
}